<h3>Commentaires</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Auteur</th>
            <th>Message</th>
            <th>Posté le</th>
        </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.author.userIdentifier }}</td>
            <td>{{ comment.content }}</td>
            <td>{{ comment.createdAt.format("d/m/Y H:i") }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="11">Aucun commentaire</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ include('comment/_comment_form.html.twig') }}
